body{
    background-image: url(Ragnar\ pic.jpg);
    font-family: 'Courier New', Courier, monospace;
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}

h1{
    color: rgb(221, 221, 14);
}

.Descriptions{
    color: rgb(236, 228, 108);
    font-size: 20px;
}

.order{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.steps{
    text-align: center;
}

.account{
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-style: monospace;
    font-size: 17px;
}

.info{
    color: yellow;
}
.payment{
    color: yellow;
}

hr{
    height: 2px;
    background-color: white;
    border-color: white;
    width: 30%;
}