body{
    background-image: url(zoro.png);
    @font-face {
        font-family: myfont3;
        src: url(grind.ttf);
    }
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    font-weight: bold;
    font-size: 35px;
}
@font-face {
    font-family: myfont3;
        src: url(grind.ttf);
}
h1{
    color:white;
    margin:0px;
    font-family: myfont3;
}
.span{
    background-color: black;
    padding-right: 10px;
    padding-left: 10px;
    
}
.intro{
    color:white;
    font-size: 25px;
    margin:0%;
    font-family: myfont3;
    font-weight: bolder;
    padding:0px;
}


.how{
    color: red;
    font-size: 30px;
    font-family: myfont3;

}

.order{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    font-family: myfont3;
}

.steps{
    text-align: center;
    font-family: myfont3;
}

.account{
    color: yellow;
    font-family: myfont3;
    font-style: monospace;
    font-size: 17px;
    font-weight: bolder;
}
.verify{
    color: red;
    font-size: 25px;
    font-family: myfont3;
    font-weight: bolder;
    text-decoration: underline;
    margin: 0%;
}

.game{
    font-size: 25px;
    font-family: myfont3;
    font-weight: bolder;
    color: white;
    text-decoration: underline;
    margin: 0%;

}
.reg{
    font-size: 25px;
    font-weight: bolder;
    font-family: myfont3;
    color: red;
}
.info{
    color: white;
    font-family: myfont3;
    font-weight: bolder;
    font-size: 20px;
    margin:auto;

}

.select{
    color: red;
    font-family: myfont3;
    font-weight: bolder;
    font-size: 20px;
    margin:0%;
}
.payment{
    color: yellow;
    font-family: myfont3;
}

hr{
    height: 2px;
    background-color: white;
    border-color: white;
    width: 30%;
}

.link{
    color: yellow;
    font-family: myfont3;
}
.link:visited{
    color: white;
    font-family: myfont3;
}
.link:hover{
    color:white;
    font-family: myfont3;
}
.link:active{
    color: brown;
    font-family: myfont3;
}
.contacts{
    font-size: 30px;
    text-align: center;
    color: yellow;
    font-family: myfont3;
}
.epicnpc{
    font-size: 30px;
    font-family: myfont3;
}
.epicnpc{
    color: yellow;
    font-family: myfont3;
}
.epicnpc:visited{
    color: white;
    font-family: myfont3;
}
.epicnpc:hover{
    color:white;
    font-family: myfont3;
}
.epicnpc:active{
    color: brown;
    font-family: myfont3;
}
fieldset{
    font-size: 20px;
    color: yellow;
    font-family: myfont3;
}
legend{
    text-align: center;
    font-size: 30px;
    font-family: myfont3;
}